:root {
    --moz-hom:#eaebed;
    --moz-col-h: #98dad9;
    --moz-sac:#2e424d;
    --moz-hed:#5b8291;
    --moz-buto:#fff;
    

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden auto;
}


/*Smol*/
@media(min-width:786px) {
    .container {
        width: 750px;
    }
}

/*Medium*/
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/*Large*/
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/*==================================================================*/
.lectures {
    height: 100vh;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 50px 50px 38% auto 37px;
    grid-template-areas: "nav nav nav nav nav nav nav nav nav"
        "h2 h2 h2 h2 h2 h2 h2 h2 h2 "
        "ction ction ction ction ction ction ction ction ction"
        "aside aside aside aside aside aside aside aside aside"
        "footer footer footer footer footer footer footer footer footer";

}

h2 {
    grid-area: h2;
    text-align: center;
    padding: 10px;
    background-color: var(--moz-col-h);

}

nav {
    grid-area: nav;
    text-align: center;
    padding: 10px;
    background-color: #000;
    position: relative;
}

nav ul {
    list-style: none;
    direction: rtl;
    text-align: start;

}

nav ul li {
    display: inline-block;
    padding-left: 10px;
    margin: 5px 10px 10px 0;
}

nav ul a {
    text-decoration: none;
    color: #fff;
}

nav .toggle {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;

}

.lectures nav ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: rgb(0 0 0 / 90%);
}

@media(min-width:768px) {
    nav .toggle {
        display: none;

    }
}

@media(max-width:767px) {
    nav ul {
        display: none;
    }
}

/*========================================================================*/
section {
    grid-area: ction;
    display: flex;
    position: relative;
    background-color:var(--moz-sac);
    /* background: linear-gradient(to right bottom, #eee, #777);*/
}

section .container {
    padding-left: 20px;
    padding-right: 20px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px) {
    section .container {
        display: flex;
    }

    section .container .boxs {
        position: relative;
        right: 15px;
         height: 280px;
    }
}

section .container .boxs {
    background-color: var(--moz-hed);
    border-radius: 10px;
    display: inline-block;
    margin: 10px 2px;
    position: relative;
    justify-content: space-around;
   /* box-shadow: 0px 3px 22px -3px var(--moz-hom);*/
}

section .container .box {
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 90px;
   
    /* height: 300px;*/

}

section .container .box img {
    margin-top: -3px;
    width: 90px;
    height: 70px;
}

section .container .box .text {
    position: relative;
}

section .container .box .text h3 {
    text-align: center;
    color: var(--moz-hom);
}

section .container .box .text p {
    text-align: end;
    font-size: 15px;
    display: inline-block;
    margin-top: 10px;
}
section .container .box .text .tr{

    font-size: 13px;
    margin-top: 3px;
    direction: rtl;
    color: rgb(14, 198, 204);
    text-align: center;
    overflow: visible;

}

section .container .box .text button {
    position: absolute;
    
    margin: 43px 0 0 0;
    padding: 4px 10px;
    left: 7px;
    font-size: 20px;
    border: 1px solid var(--moz-col-h);
    border-radius: 5px;
   
    background-color: transparent;
    transition: .3s;
     top: 85px;

}

section .container .box .text a,
button:hover {}

section .container .box .text a {
    text-decoration: none;
    color: var(--moz-buto);
    font-size: 18px;
}

/*================================================*/
/*aside*/
aside {
    grid-area: aside;
    background-color: var(--moz-sac);
    display: flex;
    position: relative;
}

aside .container {
    padding-left: 20px;
    padding-right: 20px;
    height: 260px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px) {
    aside .container {
        display: flex;
    }

    aside .container .boxs {
        position: relative;
        right: 15px;
         height: 280px;
    }
}


aside .container .boxs {
    background-color: var(--moz-hed);
    border-radius: 10px;
    display: inline-block;
    margin: 10px 2px;
    position: relative;
   
    justify-content: space-around;
    /*box-shadow: 0px 3px 22px -3px var(--moz-hom);*/
}

aside .container .box {
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 90px;
    /* height: 300px;*/

}

aside .container .box img {
    border-radius: 10px;
    width: 90px;
    height: 70px;
}

aside .container .box .text {
    position: relative;
}

aside .container .box .text h3 {
    text-align: center;
    color: var(--moz-buto);
}

aside .container .box .text p {
    text-align: end;
    font-size: 15px;
    color: #000;
}
aside .container .box .text .tr{
    font-size: 13px;
    margin-top: 3px;
    direction: rtl;
    color: rgb(14, 198, 204);
    text-align: center;

}

aside .container .box .text button {

    background-color: transparent;
    position: absolute;
    margin: 2px 0 0 0;
    padding: 3px 10px;
    left: 7px;
   border: 1px solid var(--moz-col-h);
    border-radius: 5px;
    top: 140px;
}

aside .container .box .text a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/*================================================*/

footer {
    grid-area: footer;
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 20px;
}

/*==========================================*/

.img41 img {
    height: 100vh;
    width: 100%;
    position: relative;
}

.img41 .but a {
    position: absolute;
    bottom: 379px;
    left: 153px;
    padding: 10px 12px;
    background-color: #7396e5;
    border-radius: 5px;
    text-decoration: none;
    color: wheat;
    font-size: 20px;
}
@media(max-width: 767px){
    .img41 .but a {
        width: 100%;
    position: relative;
  top: -70px;
  left: 34%;
 
    }
 
}